.pokemon-button { 
    border:none;
    background-color:yellow;
    color:blue;
    padding:15px;
    text-align:center;
    font-family:cursive;
    font-size:20px;
    text-decoration:none;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 10px;
    margin-left: 10px; /* check if it's better to leave only "margin:" */

}

.pokemon-button:hover{ 
    background-color: green;
    color: white;
}

.pokemon-list {
    list-style-type: none;
}

    /* 
    border: none;
    font-family: inherit;
    background-color: #1b17f3;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);

    margin: 
    -webkit-transition-duration:
    transition-duration:
    cursor: 
    background-color: 
    color: 
    border: 

    display: 
    
    button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
    */

    

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: static;
    margin: auto;
    padding: 10px;
    width: 95%;
    max-width: 60rem;
    max-height: 33rem;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    background: #fff;
    display: flex;
  }
  
  .modal-content-left img {
    width: 40rem;
    max-width: 100%;
    margin: 30px;
    padding: 0;
    display: block;
  }
  
  .modal-content-right {
    flex: 3;
    max-width: 100%;
    padding: 1rem 3rem;
  }

  .modal-content-left {
    flex: 1;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
    transition: 0.4s ease-out;
    height: 100px;
  }
  
  .close:hover {
    color: #111;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    font-family: "Patua One", cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  
  .modal-header p {
    margin: 0;
    padding: 0;
  }